<%= stylesheet_link_tag "style", media: "all" %>
<%= stylesheet_link_tag "roboto-font", media: "all" %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>PoC</title>
  <link href="app/assets/stylesheets/style.css" rel="stylesheet">
  <link href='app/assets/stylesheets/roboto-font.css' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="page-content">
  <div class="card red">
    <div class="header">
      <div class="image-container">
        <%= show_svg("gite") %>
      </div>
      <span>Red house</span>
    </div>
    <div class="statistics">
      <div class="item">
        <span class="title">10</span>
        <span class="text">Downstream</span>
      </div>
      <div class="item">
        <span class="title">74</span>
        <span class="text">Upstream</span>
      </div>
      <div class="item disabled">
        <span class="title">3.2</span>
        <span class="text">Gen voltage</span>
      </div>
      <div class="item disabled">
        <span class="title">2.2</span>
        <span class="text">Var voltage</span>
      </div>
    </div>

    <div class="panel">
      <div class="item button-block">
        <div class="button enabled" onclick="chargermasse()">
          <%= show_svg("lightbulb-dark") %>
          <div class="title">
            <span class="main">Led 1</span>
            <span class="additional">off</span>
          </div>
        </div>
        <div id="firstId" class="button" onclick="button_click(this)" style="cursor:pointer">
          <%= show_svg("lightbulb") %>
          <div class="title">
            <span class="main">Led 2</span>
            <span class="additional">off</span>
          </div>
        </div>
        <div class="button">
          <%= show_svg("line-end-circle") %>
          <div class="title">
            <span class="main">MG</span>
            <span class="additional">off</span>
          </div>
        </div>
        <div class="button disabled">
          <%= show_svg("line-start-circle") %>
          <div class="title">
            <span class="main">PS</span>
            <span class="additional">off</span>
          </div>
        </div>
        <div class="button additional">
          <%= show_svg("bolt") %>
          <div class="title">
            <span class="main">Additional load</span>
            <span class="additional">off</span>
          </div>
        </div>
      </div>
      <div class="item wallet">
        <div class="header">
          <%= show_svg("wallet") %>
          <span>$ 124</span>
        </div>
        <div class="content">
          <div class="title">Wallet</div>
          <div class="list">
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card blue">
    <div class="header">
      <div class="image-container">
        <%= show_svg("gite") %>
      </div>
      <span>Blue house</span>
    </div>
    <div class="statistics">
      <div class="item">
        <span class="title">10</span>
        <span class="text">Downstream</span>
      </div>
      <div class="item">
        <span class="title">74</span>
        <span class="text">Upstream</span>
      </div>
      <div class="item disabled">
        <span class="title">3.2</span>
        <span class="text">Gen voltage</span>
      </div>
      <div class="item">
        <span class="title">2.2</span>
        <span class="text">Var voltage</span>
      </div>
    </div>
    <div class="panel">
      <div class="item button-block">
        <div class="button enabled">
          <%= show_svg("lightbulb-dark") %>
          <div class="title">
            <span class="main">Led 1</span>
            <span class="additional">on</span>
          </div>
        </div>
        <div class="button">
          <%= show_svg("lightbulb") %>
          <div class="title">
            <span class="main">Led 2</span>
            <span class="additional">off</span>
          </div>
        </div>
        <div class="button">
          <%= show_svg("line-end-circle") %>
          <div class="title">
            <span class="main">MG</span>
            <span class="additional">off</span>
          </div>
        </div>
        <div class="button">
          <%= show_svg("line-start-circle") %>
          <div class="title">
            <span class="main">PS</span>
            <span class="additional">off</span>
          </div>
        </div>
        <div class="button additional">
          <%= show_svg("bolt") %>
          <div class="title">
            <span class="main">Additional load</span>
            <span class="additional">off</span>
          </div>
        </div>
      </div>
      <div class="item wallet">
        <div class="header">
          <%= show_svg("wallet") %>
          <span>$ 124</span>
        </div>
        <div class="content">
          <div class="title">Wallet</div>
          <div class="list">
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card grey-half">
    <div class="content">
      <div class="image-container">
        <div class="gite">
          <%= show_svg("gite-red") %>
        </div>
        <div class="gite">
          <%= show_svg("gite-blue") %>
        </div>
        <div class="dynamic">
          <%= show_svg("dynamic-form") %>
        </div>
        <div class="gite">
          <%= show_svg("gite-yellow") %>
        </div>
        <div class="gite">
          <%= show_svg("gite-green") %>
        </div>
      </div>
    </div>
    <div class="list">
      <div class="element">
        <p>Sell</p>
        <p>04.05.2023</p>
        <p>$ 124</p>
      </div>
      <div class="element">
        <p>Sell</p>
        <p>04.05.2023</p>
        <p>$ 124</p>
      </div>
      <div class="element">
        <p>Sell</p>
        <p>04.05.2023</p>
        <p>$ 124</p>
      </div>
    </div>
  </div>
  <div class="card yellow">
    <div class="header">
      <div class="image-container">
        <%= show_svg("gite") %>
      </div>
      <span>Yellow house</span>
    </div>
    <div class="statistics">
      <div class="item">
        <span class="title">10</span>
        <span class="text">Downstream</span>
      </div>
      <div class="item">
        <span class="title">74</span>
        <span class="text">Upstream</span>
      </div>
      <div class="item">
        <span class="title">3.2</span>
        <span class="text">Gen voltage</span>
      </div>
      <div class="item disabled">
        <span class="title">2.2</span>
        <span class="text">Var voltage</span>
      </div>
    </div>
    <div class="panel">
      <div class="item button-block">
        <div class="button enabled">
          <%= show_svg("lightbulb-dark") %>
          <div class="title">
            <span class="main">Led 1</span>
            <span class="additional">off</span>
          </div>
        </div>
        <div class="button">
          <%= show_svg("lightbulb") %>
          <div class="title">
            <span class="main">Led 2</span>
            <span class="additional">off</span>
          </div>
        </div>
        <div class="button">
          <%= show_svg("line-end-circle") %>
          <div class="title">
            <span class="main">MG</span>
            <span class="additional">off</span>
          </div>
        </div>
        <div class="button">
          <%= show_svg("line-start-circle") %>
          <div class="title">
            <span class="main">PS</span>
            <span class="additional">off</span>
          </div>
        </div>
        <div class="button additional">
          <%= show_svg("bolt") %>
          <div class="title">
            <span class="main">Additional load</span>
            <span class="additional">off</span>
          </div>
        </div>
      </div>
      <div class="item wallet">
        <div class="header">
          <%= show_svg("wallet") %>
          <span>$ 124</span>
        </div>
        <div class="content">
          <div class="title">Wallet</div>
          <div class="list">
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card green">
    <div class="header">
      <div class="image-container">
        <%= show_svg("gite") %>
      </div>
      <span>Green house</span>
    </div>
    <div class="statistics">
      <div class="item">
        <span class="title">10</span>
        <span class="text">Downstream</span>
      </div>
      <div class="item">
        <span class="title">74</span>
        <span class="text">Upstream</span>
      </div>
      <div class="item">
        <span class="title">3.2</span>
        <span class="text">Gen voltage</span>
      </div>
      <div class="item">
        <span class="title">2.2</span>
        <span class="text">Var voltage</span>
      </div>
    </div>
    <div class="panel">
      <div class="item button-block">
        <div class="button enabled">
          <%= show_svg("lightbulb-dark") %>
          <div class="title">
            <span class="main">Led 1</span>
            <span class="additional">off</span>
          </div>
        </div>
        <div class="button">
          <%= show_svg("lightbulb") %>
          <div class="title">
            <span class="main">Led 2</span>
            <span class="additional">off</span>
          </div>
        </div>
        <div class="button">
          <%= show_svg("line-end-circle") %>
          <div class="title">
            <span class="main">MG</span>
            <span class="additional">off</span>
          </div>
        </div>
        <div class="button">
          <%= show_svg("line-start-circle") %>
          <div class="title">
            <span class="main">PS</span>
            <span class="additional">off</span>
          </div>
        </div>
        <div class="button additional">
          <%= show_svg("bolt") %>
          <div class="title">
            <span class="main">Additional load</span>
            <span class="additional">off</span>
          </div>
        </div>
      </div>
      <div class="item wallet">
        <div class="header">
          <%= show_svg("wallet") %>
          <span>$ 124</span>
        </div>
        <div class="content">
          <div class="title">Wallet</div>
          <div class="list">
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card grey">
    <div class="header">
      <div class="image-container">
        <%= show_svg("gite") %>
      </div>
      <span>Operator</span>
    </div>
    <div class="statistics">
      <div class="item">
        <span class="title">10</span>
        <span class="text">Downstream</span>
      </div>
      <div class="item">
        <span class="title">74</span>
        <span class="text">Upstream</span>
      </div>
      <div class="item">
        <span class="title">3.2</span>
        <span class="text">Gen voltage</span>
      </div>
      <div class="item">
        <span class="title">2.2</span>
        <span class="text">Var voltage</span>
      </div>
    </div>
    <div class="panel">
      <div class="item button-block">
        <div class="button enabled">
          <%= show_svg("lightbulb-dark") %>
          <div class="title">
            <span class="main">Led 1</span>
            <span class="additional">on</span>
          </div>
        </div>
        <div class="button">
          <%= show_svg("lightbulb") %>
          <div class="title">
            <span class="main">Led 2</span>
            <span class="additional">off</span>
          </div>
        </div>
        <div class="button">
          <%= show_svg("line-end-circle") %>
          <div class="title">
            <span class="main">MG</span>
            <span class="additional">off</span>
          </div>
        </div>
        <div class="button">
          <%= show_svg("line-start-circle") %>
          <div class="title">
            <span class="main">PS</span>
            <span class="additional">off</span>
          </div>
        </div>
        <div class="button additional">
          <%= show_svg("bolt") %>
          <div class="title">
            <span class="main">Additional load</span>
            <span class="additional">off</span>
          </div>
        </div>
      </div>
      <div class="item wallet">
        <div class="header">
          <%= show_svg("wallet") %>
          <span>$ 124</span>
        </div>
        <div class="content">
          <div class="title">Wallet</div>
          <div class="list">
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>

<script type="text/javascript">
  function chargermasse(){
    console.log("Hello world!");
    const xhr = new XMLHttpRequest();
    xhr.open("GET", "http://3.71.27.170:8083/gtw/1/hw/relay/switch,2,1");
    xhr.send();
    xhr.onload = () => {
    const data = xhr.response;

    console.log(JSON.parse(data).exec.rc);
};
  }

    function button_click(){
console.log("Hello button");
// $( ".button" ).css('background', 'green');
var btn = document.getElementById('firstId');

btn.classList.toggle("enabled");
console.log(btn.classList);


// ✅ Change button text on click
// btn.addEventListener('click', function handleClick() {
  // console.log(btn.title.textContent)
  // console.log(btn.classList)
  // btn.classList.toggle("button");
// btn.removeClass('button').addClass('button enabled')
  // btn.toggleClass('buttonClassB');
  // btn.innerHTML = '<span style="background-color: salmon">Button clicked<span>;

// });

};

  //   $( ".button" ).click(function() {
  //   console.log("Hello button");
  //   $( ".button" ).css('background', 'green');
  // });
</script>