<%= stylesheet_link_tag "style", media: "all" %>
<%= stylesheet_link_tag "roboto-font", media: "all" %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>PoC</title>
  <link href="app/assets/stylesheets/style.css" rel="stylesheet">
  <link href='app/assets/stylesheets/roboto-font.css' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="page-content">
  <div class="card red">
    <div class="header">
      <div class="image-container">
        <%= show_svg("gite") %>
      </div>
      <span>Red house</span>
    </div>
    <div class="statistics">
      <div class="item">
        <span class="title">10</span>
        <span class="text">Downstream</span>
      </div>
      <div class="item">
        <span class="title">74</span>
        <span class="text">Upstream</span>
      </div>
      <div class="item disabled">
        <span class="title">3.2</span>
        <span class="text">Gen voltage</span>
      </div>
      <div class="item disabled">
        <span class="title">2.2</span>
        <span class="text">Var voltage</span>
      </div>
    </div>

    <div class="panel">
      <div class="item button-block">
        <div id="firstId0" class="button" onclick="chargermasse(1, 0, 'firstId0', 'additional0')" style="cursor:pointer">
          <%= show_svg("lightbulb-dark") %>
          <div class="title">
            <span class="main">Led 1</span>
            <span class="additional0" id="additional0">off</span>
          </div>
        </div>
        <div id="firstId1" class="button" onclick="chargermasse(1, 1, 'firstId1', 'additional1')" style="cursor:pointer">
          <div id="pic1"><%= show_svg("lightbulb") %></div>
          <div class="title">
            <span class="main">Led 2</span>
            <span class="additional" id="additional1">off</span>
          </div>
        </div>
        <div id="firstId2" class="button" onclick="chargermasse(1, 2, 'firstId2', 'additional2')" style="cursor:pointer">
          <%= show_svg("line-end-circle") %>
          <div class="title">
            <span class="main">MG</span>
            <span class="additional" id="additional2">off</span>
          </div>
        </div>
        <div class="button disabled">
          <%= show_svg("line-start-circle") %>
          <div class="title">
            <span class="main">PS</span>
            <span class="additional">off</span>
          </div>
        </div>
        <div id="firstId4" class="button additional" onclick="chargermasse(1, 4, 'firstId4', 'additional4')" style="cursor:pointer">
          <%= show_svg("bolt") %>
          <div class="title">
            <span class="main">Additional load</span>
            <span class="additional" id="additional4">off</span>
          </div>
        </div>
      </div>
      <div class="item wallet">
        <div class="header">
          <%= show_svg("wallet") %>
          <span>$ 124</span>
        </div>
        <div class="content">
          <div class="title">Wallet</div>
          <div class="list">
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card blue">
    <div class="header">
      <div class="image-container">
        <%= show_svg("gite") %>
      </div>
      <span>Blue house</span>
    </div>
    <div class="statistics">
      <div class="item">
        <span class="title">10</span>
        <span class="text">Downstream</span>
      </div>
      <div class="item">
        <span class="title">74</span>
        <span class="text">Upstream</span>
      </div>
      <div class="item disabled">
        <span class="title">3.2</span>
        <span class="text">Gen voltage</span>
      </div>
      <div class="item">
        <span class="title">2.2</span>
        <span class="text">Var voltage</span>
      </div>
    </div>
    <div class="panel">
      <div class="item button-block">
        <div id="secondId0" class="button" onclick="chargermasse(2, 0, 'secondId0', 'additional01')" style="cursor:pointer">
          <%= show_svg("lightbulb-dark") %>
          <div class="title">
            <span class="main">Led 1</span>
            <span class="additional" id="additional01">off</span>
          </div>
        </div>
        <div id="secondId1" class="button" onclick="chargermasse(2, 1, 'secondId1', 'additional11')" style="cursor:pointer">
          <%= show_svg("lightbulb") %>
          <div class="title">
            <span class="main">Led 2</span>
            <span class="additional" id="additional11">off</span>
          </div>
        </div>
        <div id="secondId2" class="button" onclick="chargermasse(2, 2, 'secondId2', 'additional21')" style="cursor:pointer">
          <%= show_svg("line-end-circle") %>
          <div class="title">
            <span class="main">MG</span>
            <span class="additional" id="additional21">off</span>
          </div>
        </div>
        <div id="secondId3" class="button" onclick="chargermasse(2, 3, 'secondId3', 'additional31')" style="cursor:pointer">
          <%= show_svg("line-start-circle") %>
          <div class="title">
            <span class="main">PS</span>
            <span class="additional" id="additional31">off</span>
          </div>
        </div>
        <div id="secondId4" class="button additional" onclick="chargermasse(2, 4, 'secondId4', 'additional41')" style="cursor:pointer">
          <%= show_svg("bolt") %>
          <div class="title">
            <span class="main">Additional load</span>
            <span class="additional" id="additional41">off</span>
          </div>
        </div>
      </div>
      <div class="item wallet">
        <div class="header">
          <%= show_svg("wallet") %>
          <span>$ 124</span>
        </div>
        <div class="content">
          <div class="title">Wallet</div>
          <div class="list">
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card grey-half">
    <div class="content">
      <div class="image-container">
        <div class="gite">
          <%= show_svg("gite-red") %>
        </div>
        <div class="gite">
          <%= show_svg("gite-blue") %>
        </div>
        <div class="dynamic">
          <%= show_svg("dynamic-form") %>
        </div>
        <div class="gite">
          <%= show_svg("gite-yellow") %>
        </div>
        <div class="gite">
          <%= show_svg("gite-green") %>
        </div>
      </div>
    </div>
    <div class="list">
      <div class="element">
        <p>Sell</p>
        <p>04.05.2023</p>
        <p>$ 124</p>
      </div>
      <div class="element">
        <p>Sell</p>
        <p>04.05.2023</p>
        <p>$ 124</p>
      </div>
      <div class="element">
        <p>Sell</p>
        <p>04.05.2023</p>
        <p>$ 124</p>
      </div>
    </div>
  </div>
  <div class="card yellow">
    <div class="header">
      <div class="image-container">
        <%= show_svg("gite") %>
      </div>
      <span>Yellow house</span>
    </div>
    <div class="statistics">
      <div class="item">
        <span class="title">10</span>
        <span class="text">Downstream</span>
      </div>
      <div class="item">
        <span class="title">74</span>
        <span class="text">Upstream</span>
      </div>
      <div class="item">
        <span class="title">3.2</span>
        <span class="text">Gen voltage</span>
      </div>
      <div class="item disabled">
        <span class="title">2.2</span>
        <span class="text">Var voltage</span>
      </div>
    </div>
    <div class="panel">
      <div class="item button-block">
        <div id="thirdId0" class="button enabled" onclick="chargermasse(3, 0, 'thirdId0', 'additional02')" style="cursor:pointer">
          <%= show_svg("lightbulb-dark") %>
          <div class="title">
            <span class="main">Led 1</span>
            <span class="additional" id="additional02">off</span>
          </div>
        </div>
        <div id="thirdId1" class="button" onclick="chargermasse(3, 1, 'thirdId1', 'additional12')" style="cursor:pointer">
          <%= show_svg("lightbulb") %>
          <div class="title">
            <span class="main">Led 2</span>
            <span class="additional" id="additional12">off</span>
          </div>
        </div>
        <div id="thirdId2" class="button" onclick="chargermasse(3, 2, 'thirdId2', 'additional22')" style="cursor:pointer">
          <%= show_svg("line-end-circle") %>
          <div class="title">
            <span class="main">MG</span>
            <span class="additional" id="additional22">off</span>
          </div>
        </div>
        <div id="thirdId3" class="button" onclick="chargermasse(3, 3, 'thirdId3', 'additional32')" style="cursor:pointer">
          <%= show_svg("line-start-circle") %>
          <div class="title">
            <span class="main">PS</span>
            <span class="additional" id="additional32">off</span>
          </div>
        </div>
        <div id="thirdId4" class="button additional" onclick="chargermasse(3, 4, 'thirdId4', 'additional42')" style="cursor:pointer">
          <%= show_svg("bolt") %>
          <div class="title">
            <span class="main">Additional load</span>
            <span class="additional" id="additional42">off</span>
          </div>
        </div>
      </div>
      <div class="item wallet">
        <div class="header">
          <%= show_svg("wallet") %>
          <span>$ 124</span>
        </div>
        <div class="content">
          <div class="title">Wallet</div>
          <div class="list">
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card green">
    <div class="header">
      <div class="image-container">
        <%= show_svg("gite") %>
      </div>
      <span>Green house</span>
    </div>
    <div class="statistics">
      <div class="item">
        <span class="title">10</span>
        <span class="text">Downstream</span>
      </div>
      <div class="item">
        <span class="title">74</span>
        <span class="text">Upstream</span>
      </div>
      <div class="item">
        <span class="title">3.2</span>
        <span class="text">Gen voltage</span>
      </div>
      <div class="item">
        <span class="title">2.2</span>
        <span class="text">Var voltage</span>
      </div>
    </div>
    <div class="panel">
      <div class="item button-block">
        <div id="forthId0" class="button enabled" onclick="chargermasse(4, 0, 'forthId0', 'additional03')" style="cursor:pointer">
          <%= show_svg("lightbulb-dark") %>
          <div class="title">
            <span class="main">Led 1</span>
            <span class="additional" id="additional03">off</span>
          </div>
        </div>
        <div id="forthId1" class="button" onclick="chargermasse(4, 1, 'forthId1', 'additional13')" style="cursor:pointer">
          <%= show_svg("lightbulb") %>
          <div class="title">
            <span class="main">Led 2</span>
            <span class="additional" id="additional13">off</span>
          </div>
        </div>
        <div id="forthId2" class="button" onclick="chargermasse(4, 2, 'forthId2', 'additional23')" style="cursor:pointer">
          <%= show_svg("line-end-circle") %>
          <div class="title">
            <span class="main">MG</span>
            <span class="additional" id="additional23">off</span>
          </div>
        </div>
        <div id="forthId3" class="button" onclick="chargermasse(4, 3, 'forthId3', 'additional33')" style="cursor:pointer">
          <%= show_svg("line-start-circle") %>
          <div class="title">
            <span class="main">PS</span>
            <span class="additional" id="additional33">off</span>
          </div>
        </div>
        <div id="forthId4" class="button additional" onclick="chargermasse(4, 4, 'forthId4', 'additional43')" style="cursor:pointer">
          <%= show_svg("bolt") %>
          <div class="title">
            <span class="main">Additional load</span>
            <span class="additional" id="additional43">off</span>
          </div>
        </div>
      </div>
      <div class="item wallet">
        <div class="header">
          <%= show_svg("wallet") %>
          <span>$ 124</span>
        </div>
        <div class="content">
          <div class="title">Wallet</div>
          <div class="list">
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card grey">
    <div class="header">
      <div class="image-container">
        <%= show_svg("gite") %>
      </div>
      <span>Operator</span>
    </div>
    <div class="statistics">
      <div class="item">
        <span class="title">10</span>
        <span class="text">Downstream</span>
      </div>
      <div class="item">
        <span class="title">74</span>
        <span class="text">Upstream</span>
      </div>
      <div class="item">
        <span class="title">3.2</span>
        <span class="text">Gen voltage</span>
      </div>
      <div class="item">
        <span class="title">2.2</span>
        <span class="text">Var voltage</span>
      </div>
    </div>
    <div class="panel">
      <div class="item button-block">
        <div id="fifthId0" class="button enabled" onclick="chargermasse(5, 0, 'fifthId0', 'additional05')" style="cursor:pointer">
          <%= show_svg("lightbulb-dark") %>
          <div class="title">
            <span class="main">Led 1</span>
            <span class="additional" id="additional05">on</span>
          </div>
        </div>
        <div id="fifthId1" class="button" onclick="chargermasse(5, 1, 'fifthId1', 'additional15')" style="cursor:pointer">
          <%= show_svg("lightbulb") %>
          <div class="title">
            <span class="main">Led 2</span>
            <span class="additional" id="additional15">off</span>
          </div>
        </div>
        <div id="fifthId2" class="button" onclick="chargermasse(5, 2, 'fifthId2', 'additional25')" style="cursor:pointer">
          <%= show_svg("line-end-circle") %>
          <div class="title">
            <span class="main">MG</span>
            <span class="additional" id="additional25">off</span>
          </div>
        </div>
        <div id="fifthId3" class="button" onclick="chargermasse(5, 3, 'fifthId3', 'additional35')" style="cursor:pointer">
          <%= show_svg("line-start-circle") %>
          <div class="title">
            <span class="main">PS</span>
            <span class="additional" id="additional35">off</span>
          </div>
        </div>
        <div id="fifthId4" class="button additional" onclick="chargermasse(5, 4, 'fifthId4', 'additional45')" style="cursor:pointer">
          <%= show_svg("bolt") %>
          <div class="title">
            <span class="main">Additional load</span>
            <span class="additional" id="additional45">off</span>
          </div>
        </div>
      </div>
      <div class="item wallet">
        <div class="header">
          <%= show_svg("wallet") %>
          <span>$ 124</span>
        </div>
        <div class="content">
          <div class="title">Wallet</div>
          <div class="list">
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
            <div class="element">
              <p>Sell</p>
              <p>04.05.2023</p>
              <p>$ 124</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>

<script type="text/javascript">

  function chargermasse(house_id, switch_id, button_id, text_id) {
    console.log("Starting button handle...");
    var addit_btn = document.getElementById(text_id);
    var btn = document.getElementById(button_id);
    requested_state = addit_btn.innerHTML == 'off' ? 1 : 0

    request_url(house_id, switch_id, requested_state, btn, addit_btn)
};

  function request_url(house_id, switch_id, state, btn, addit_btn) {
    const xhr = new XMLHttpRequest();
    console.log(`house_id: ${house_id}`)
    console.log(`switch_id: ${switch_id}`)
    console.log(`state: ${state}`)

    url = `http://3.71.27.170:8083/gtw/${house_id}/hw/relay/switch,${switch_id},${state}`

    console.log(url)
    xhr.open("GET", url);
    xhr.send();

    xhr.onload = () => {
      console.log(xhr.response)

    status = JSON.parse(xhr.response).exec.rc

    if (status == 0) {

      btn.classList.toggle("enabled");

      if (addit_btn.innerHTML == 'off') {
          addit_btn.innerHTML = 'on';
        } else {
          addit_btn.innerHTML = 'off';
      }

    console.log("End button handling");
    }
  }
  }
</script>